.total-sub-icon{
    color: white;
    text-align: center;
    margin-top: 50px;
}

.total-subs{
    color: white;
    text-align: center;
    margin-top: 25px;
    font-weight: 900;
}

.total-subs-title{
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
}